@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #FEF5E7;
    font-family: 'Bodoni Moda', serif;
}


.location, .temperature {
    height: 30vh;
    width: 50%;
    display: contents;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}